---
import { getCollection } from "astro:content";
import ProfileCard from "@/components/ProfileCard.astro";
import SideTags from "@/components/SideTags.astro";
const posts = await getCollection("posts");
import { FaGithub } from "react-icons/fa";
import { FiGlobe } from "react-icons/fi";
import '../styles/globals.css'
import Layout from "@/layouts/Layout.astro";
const projects = [
  {
    name: "EchoChat",
    description: "使用 Next.js 构建的AI bot平台，可以使用多种主流模型，支持对话同步，支持上传使用个人apikey / A versatile AI chatbot platform built with Next.js, supporting multiple mainstream AI models. The platform features conversation synchronization and allows users to use their personal API keys.",
    github: "https://github.com/czllll/echochat",
    website: "https://echochat.dirtsai.work/",
    icon: "/path/to/qwerty-icon.png"
  },
  {
    name: "AI-PLAT",
    description: "使用 Next.js 构建的AI综合平台，集成了各种 AI 服务 / A comprehensive platform built with Next.js that integrates various AI services",
    github: "https://github.com/czllll/ai-plat",
    website: "https://ai-plat.vercel.app/",
    icon: "/path/to/qwerty-icon.png"
  },

];
---
<Layout title="Dirtsai's Blog">

    <main class="w-full flex flex-col mt-24 lg:flex-row px-2 lg:px-2 max-w-7xl mx-auto min-w-[320px]">
        <div class="w-full lg:w-4/5 p-1 mb-6 lg:mb-0 transition-all duration-300 ease-linear">
            <div class="flex text-2xl px-6 font-bold">
                Project  
            </div>
            <div class="border-b border-gray-300 mt-4 mr-10"></div>
            <div class="p-2 pr-20 bg-background-0">
                {projects.map(project => (
                    <div class="flex items-start border-b p-4">
                      <div class="flex-1">
                        <h1 class="text-lg font-bold">{project.name}</h1>
                        <p class="text-gray-500 mb-2 text-md">{project.description}</p>
                        <div class="flex space-x-4">
                            <a href={project.github} target="_blank" class="text-black hover:text-gray-700">
                                <FaGithub className="w-6 h-6" />
                            </a>
                            <a href={project.website} target="_blank" class="text-black hover:text-gray-700">
                                <FiGlobe className="w-6 h-6" />
                            </a>
                        
                        </div>
                        
                      </div>
                      
                    </div>
                  ))}

            </div>
        </div>
        <div
            class="w-full pt-4 lg:w-1/5  transition duration-300 ease-linear
                        max-h-0 opacity-0 lg:max-h-[1000px] lg:opacity-100"
        >
            <ProfileCard />
            <SideTags posts={posts}/>
        </div>
    </main>
</Layout>